<% @show_navbar = true %>
<h1 class="text-center">About me</h1>
<div class="text-center">
<%= image_tag 'profpic.jpeg' %>
</div>
<p> Add whatever you come up with.
</p>
<br>
<div class="position-relative">
  <div class="position-absolute top-50 start-0 translate-middle">
    <%= image_tag '' %>
  </div>
  <div class="position-absolute top-50 start-50 translate-middle">
  </div>
  <div class="position-absolute top-50 start-100 translate-middle">
  </div>
</div>
