<% @show_navbar = true %>
<h1 class="text-center pt-3">about me</h1>
<div class="text-center">
<%= image_tag 'headshot.jpeg', class: 'w-75 p-3'%>
</div>
<h4 class="text-center pt-3">Matt Casillas is a Mexican-American actor, writer, and director born and raised in Chicago, IL. He played multiple roles as part of CPS Shakespeare at the Chicago Shakespeare Theater in Navy Pier for productions of A Midsumers Night Dream and Othello. He is a graduate of the Conservatory program at The Second City Training Center. He is a part of the sketch comedy troupe, OffPinkFloyd. He is also great with pets and parents. </h4>
<br>
