<% @show_navbar = false %>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center">
    <%= image_tag 'mc.png' %>
    <%= button_to "work.", "/work", method: :get, class: "btn btn-outline-secondary" %>
    <%= button_to "about me.", "/about", method: :get, class: "btn btn-outline-secondary" %>
  </div>
</div>
